[mysqld]
server-id=1                     # เลขประจำเซิร์ฟเวอร์
log_bin=binlog                  # เปิด binlog
binlog_format=ROW               # save binlog ในระดับ row 
gtid_mode=ON                    # เปิดใช้ GTID
enforce_gtid_consistency=ON     # บังคับ statement ใ้งานกับ GTID
log_replica_updates=ON